.descriptionRow {
  display: grid;
  grid-template:
    "myChoice ... description" 100%
    /5% 2% 93%;
  height: 25vh;
  margin: 4vh;
  position: relative;
}

input[type="radio"] {
  display: block;
  grid-area: myChoice;
  height: 5vh;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5vh;
}

#description1,
#description2,
#description3,
#description4 {
  display: grid;
  grid-area: description;
  grid-template:
    "icon ... image ... otherDescription" 80%
    "name ... image ... otherDescription" 20%
    /20vh 3vh 37.5vh 3vh auto;
}

.icon {
  height: 18vh;
  width: 18vh;
}

.name {
  font-size: 5vh;
}

.image {
  grid-area: image;
}
