.descriptionPointBox,
.answerPointBox,
.totalPointBox {
  font-size: 2.5vh;
  padding: 1vh 2vh;
  position: relative;
}

.descriptionPointBox {
  background-color: #8bd6f5;
  grid-area: descriptionPointBox;
}

.answerPointBox {
  background-color: #8bd6f5;
  grid-area: answerPointBox;
}

.totalPointBox {
  background-color: #ff6347;
  color: white;
  grid-area: totalPointBox;
}

#firstPlayer .descriptionPointBox,
#firstPlayer .answerPointBox,
#firstPlayer .totalPointBox {
  font-size: 3.5vh;
  padding: 1vh 2vh;
  position: relative;
}

.descriptionPointBox p,
.answerPointBox p,
.totalPointBox p {
  font-size: 5vh;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#firstPlayer p {
  font-size: 7vh;
  font-weight: bold;
}
