#waiting {
  display: grid;
  font-size: 2vh;
  grid-template:
    "... ........... ........... ........... ........... ..." 15vh
    "... room        ........... ........... ........... ..." 7vh
    "... roomId      roomId      ........... copyButton  ..." 7vh
    "... ........... ........... ........... ........... ..." auto
    "... user        user        user        user        ..." 10vh
    "... ........... ........... ........... ........... ..." auto
    "... startButton startButton startButton startButton ..." 10vh
    "... ........... ........... ........... ........... ..." 15vh
    /auto 30vh 30vh 5vh 20vh auto;
}

#room {
  font-size: 4vh;
  grid-area: room;
}

#roomId {
  border: solid 2px #000;
  font-size: 5vh;
  grid-area: roomId;
  text-align: center;
}

button {
  background-color: #ff6347;
  border: none;
  color: #fff;

  /* font-size: 3vh; */
  font-weight: bold;
  text-align: center;
}

#copyButton {
  grid-area: copyButton;
}

#startButton {
  grid-area: startButton;
}

#user {
  display: grid;
  font-size: 3vh;
  grid-area: user;
  grid-template:
    "... icon message ..." 10vh
    /auto 20vh 40vh auto;
}

#icon {
  grid-area: icon;
}

#message {
  grid-area: message;
}
