#waiting {
  /* 待機画面 */
}

#room {
  font-size: 4vh;
}

#roomId {
  border: solid 2px #000;
}

button {
  background-color: #ff6347;
  border: none;
  color: #fff;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
}

#icon {
  /* icon */
}

#message {
  /* message */
}
