#answer {
  grid-template:
    "... ................ ..." 3vh
    "... title            ..." 10vh
    "... ................ ..." 2vh
    "... otherDescription ..." auto
    "... ................ ..." 1vh
    "... attentionMessage ..." 4vh
    "... answerForm       ..." 90vh
    / auto 135vh auto;
}

#answerForm {
  grid-area: answerForm;
  display: grid;
  grid-template:
    "......... ...... ......... ......" 2%
    "myChoice1 image1 myChoice2 image2" 43%
    "......... ...... ......... ......" 6%
    "myChoice3 image3 myChoice4 image4" 43%
    "......... ...... ......... ......" 6%
    /7% 43% 7% 43%;
}

#myChoice1 {
  grid-area: myChoice1;
}

#image1 {
  grid-area: image1;
  position: relative;
}

#myChoice2 {
  grid-area: myChoice2;
}

#image2 {
  grid-area: image2;
  position: relative;
}

#myChoice3 {
  grid-area: myChoice3;
}

#image3 {
  grid-area: image3;
  position: relative;
}

#myChoice4 {
  grid-area: myChoice4;
}

#image4 {
  grid-area: image4;
  position: relative;
}

.mark {
  position: absolute;
  object-fit: contain;
  top: 0;
  left: 0;
}
