#description {
  grid-template:
    "... ... .............. ................ ...." 3vh
    ".... title           title           title            ...." 10vh
    ".... ............... ............... ................ ...." 2vh
    ".... image           ............... otherDescription ...." 32vh
    ".... image           ............... ................ ...." 4vh
    ".... image           ............... ngWord           ...." 20vh
    ".... ............... ............... ................ ...." 1vh
    ".... descriptionForm descriptionForm descriptionForm  ...." auto
    ".... ............... ............... ................ ...." 3vh
    /20vh 84vh 4vh auto 20vh;
  position: fixed;
}

#descriptionForm {
  grid-area: descriptionForm;
  display: grid;
  grid-template:
    "attentionMessage ... ..." 20%
    "......... ... ..........." 1vh
    "inputText ... inputSubmit" auto
    / 83% 4vh auto;
}

input[type="text"] {
  grid-area: inputText;
  font-size: 6vh;
  line-height: 8vh;
}
