body {
  margin: 0;
}

#description,
#answer {
  display: grid;
  height: 100%;
  width: 100%;
}

.textBox {
  border: solid 0.5vh black;
  box-sizing: border-box;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  font-size: 4vh;
  padding: 2vh;
}

p {
  font-size: 5vh;
  margin: 2vh 0 0 4vh;
}

input[type="radio"] {
  height: 5vh;
  transform: translate(30%, 340%);
  width: 5vh;
}

input[type="submit"] {
  align-items: center;
  background-color: #ff6347;
  border: none;
  color: white;
  display: flex;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  font-size: 6vh;
  grid-area: inputSubmit;
  justify-content: center;
  padding: 0;
}
