.player {
  display: grid;
  grid-template:
    "icon ... ballon" 80%
    "name ... ballon" 20%
    /20% 5% 75%;
}

.balloon {
  border: solid 0.5vh black;
  border-radius: 2vh;
  box-sizing: border-box;
  display: inline-block;
  font-size: 4vh;
  grid-area: ballon;
  height: 22vh;
  margin-left: 5vh;
  position: relative;
  width: 30vh;
}

.balloon::before {
  border: 12px solid transparent;
  border-right: 12px solid #fff;
  content: "";
  left: -24px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.balloon::after {
  border: 14px solid transparent;
  border-right: 14px solid #555;
  content: "";
  left: -30px;
  margin-top: -14px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
