body {
  margin: 0;
}

#result {
  display: grid;
  grid-template:
    "... ....... ....... ....... ..." 3vh
    "... ....... title   ....... ..." 10vh
    "... ....... ....... ....... ..." 2vh
    "... ....... image   ....... ..." 60vh
    "... ....... ....... ....... ..." 3vh
    "... players players players ..." 80vh
    "... ....... ....... ....... ..." 3vh
    /20vh auto 90vh auto 20vh;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 8vh;
  grid-area: title;
  text-align: center;
}

img {
  height: 100%;
  width: 100%;
}

.explanationImg {
  grid-area: image;
}

.explanationImg img {
  object-fit: contain;
}

.textBox {
  border: solid 0.5vh black;
  box-sizing: border-box;
  font-size: 4vh;
  padding: 2vh;
}

.players {
  display: flex;
  flex-direction: column;
  grid-area: players;
  justify-content: space-between;
}

.player {
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
}

.playerImg {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
}

.playerImg img {
  border-radius: 50%;
  height: 20vh;
  margin: auto;
  width: 20vh;
}

.playerName {
  flex-basis: 10%;
  text-align: center;
}

.playerExplanation {
  flex-basis: 80%;
}
