body {
  margin: 0;
}

p {
  font-size: 5vh;
  margin: 2vh 0 0 4vh;
}

#explanation {
  display: grid;
  grid-template:
    "... ............... ............... ................ ..." 3vh
    "... title           title           title            ..." 10vh
    "... ............... ............... ................ ..." 2vh
    "... image           ............... learn            ..." 5vh
    "... image           ............... ................ ..." 5vh
    "... image           ............... ai               ..." 26vh
    "... image           ............... ................ ..." 1vh
    "... image           ............... aiExplanation    ..." 20vh
    "... ............... ............... ................ ..." 1vh
    "... explanationForm explanationForm explanationForm  ..." auto
    "... ............... ............... ................ ..." 3vh
    /20vh 84vh 4vh auto 20vh;
  height: 100%;
  position: fixed;
  width: 100%;
}

.title {
  font-size: 8vh;
  grid-area: title;
  text-align: center;
}

img {
  grid-area: image;
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.learn {
  font-size: 5vh;
  grid-area: learn;
  text-align: center;
}

.textBox {
  border: solid 0.5vh black;
  box-sizing: border-box;
  font-size: 4vh;
  padding: 2vh;
}

.ai {
  display: flex;
  flex-direction: row;
  grid-area: ai;
  margin-left: auto;
  margin-right: auto;
}

.aiImg {
  height: 15vh;
  width: 15vh;
}

.word {
  border: solid 0.5vh black;
  border-radius: 2vh;
  box-sizing: border-box;
  display: inline-block;
  font-size: 4vh;
  height: 22vh;
  margin-left: 5vh;
  position: relative;
  width: 40vh;
}

.word::before {
  border: 3vh solid transparent;
  border-right: 4.5vh solid white;
  content: "";
  left: -6.5vh;
  margin-top: -3vh;
  position: absolute;
  top: 25%;
  z-index: 2;
}

.word::after {
  border: 3vh solid transparent;
  border-right: 4.5vh solid black;
  content: "";
  left: -7.5vh;
  margin-top: -3vh;
  position: absolute;
  top: 25%;
  z-index: 1;
}

.aiExplanation {
  border-color: #4f84d3;
  grid-area: aiExplanation;
  overflow-y: scroll;
}

.aiExplanation p {
  font-size: 4vh;
}

.attentionMessage {
  align-items: center;
  color: #f22424;
  display: flex;
  font-size: 4vh;
  grid-area: attentionMessage;
  justify-content: center;
  line-height: 4vh;
  margin: 0;
}

#explanationForm {
  display: grid;
  grid-area: explanationForm;
  grid-template:
    "attentionMessage ... ..........." 20%
    "................ ... ..........." 1vh
    "inputText        ... inputSubmit" auto
    / 83% 4vh auto;
}

input[type="text"] {
  font-size: 6vh;
  grid-area: inputText;
  line-height: 8vh;
}

input[type="submit"] {
  align-items: center;
  background-color: #ff6347;
  border: none;
  color: white;
  display: flex;
  font-size: 6vh;
  grid-area: inputSubmit;
  justify-content: center;
  padding: 0;
}
