#explanation {
  grid-template:
    "... ............... ............... ................ ..." 3vh
    "... title           title           title            ..." 10vh
    "... ............... ............... ................ ..." 2vh
    "... image           ............... learn            ..." 4vh
    "... image           ............... ................ ..." 5vh
    "... image           ............... ai               ..." 23vh
    "... image           ............... ................ ..." 3vh
    "... image           ............... otherDescription ..." 20vh
    "... ............... ............... ................ ..." 1vh
    "... explanationForm explanationForm explanationForm  ..." auto
    "... ............... ............... ................ ..." 3vh
    /20vh 84vh 4vh auto 20vh;
  position: fixed;
}

#explanation p {
  font-size: 4.5vh;
  margin: 1.5vh 0 0 3vh;
}

#explanation .learn {
  font-size: 4vh;
  grid-area: learn;
  text-align: center;
}

#explanation .ai {
  display: grid;
  grid-area: ai;
  grid-template:
    "icon ... ballon" 100%
    /20% 10% 60%;
  min-width: 45vh;
}

#explanation .icon {
  height: 10vh;
  width: 10vh;
}

#explanationForm {
  display: grid;
  grid-area: explanationForm;
  grid-template:
    "attentionMessage" 20%
    "................" 1vh
    "inputText       " auto
    / 100%;
}

#explanation input[type="text"] {
  border: solid 0.5vh black;
  font-size: 6vh;
  font-weight: normal;
  grid-area: inputText;
  line-height: 8vh;
}

#explanation .balloon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
