body {
  margin: 0;
}

#learnVoting {
  display: grid;
  grid-template:
    "... ..... .......... ..." 3vh
    "... title title      ..." 10vh
    "... ..... .......... ..." 3vh
    "... ..... votingForm ..." 5vh
    "... image votingForm ..." 60vh
    "... ..... votingForm ..." auto
    "... ..... .......... ..." 3vh
    /20vh 90vh auto 20vh;
  height: 100%;
  position: fixed;
  width: 100%;
}

#learnVoting .votingForm {
  display: grid;
  grid-area: votingForm;
  grid-template:
    "selections       selections       selections      " 70vh
    "................ ................ ................" 1vh
    "attentionMessage attentionMessage attentionMessage" 3vh
    "................ ................ ................" 1vh
    "................ inputSubmit      ................" 6vh
    / auto 50% auto;
}

#learnVoting .selections {
  grid-area: selections;
}

#learnVoting .selection {
  display: grid;
  grid-template:
    "myChoice ... player" 100%
    /5% 2% 93%;
  height: 13vh;
  margin: 1vh 0;
  position: relative;
}

#learnVoting label {
  display: grid;
  grid-area: player;
  grid-template:
    "icon ... otherDescription" 80%
    "name ... otherDescription" 20%
    /15% 5% 80%;
}

#learnVoting input[type="radio"] {
  display: block;
  grid-area: myChoice;
  height: 3vh;
  left: 50%;
  position: absolute;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 3vh;
}

#learnVoting .icon {
  height: 8vh;
  width: 8vh;
}

#learnVoting .name {
  font-size: 3vh;
}

#learnVoting .textBox {
  border: solid 0.5vh #4f84d3;
}

#learnVoting .otherDescription p {
  font-size: 3vh;
}

#learnVoting .attentionMessage {
  font-size: 3vh;
}

#learnVoting input[type="submit"] {
  font-size: 3vh;
}
