body {
  margin: 0;
}

#learnVoting {
  display: grid;
  grid-template:
    "... title      title      title      ..." 6vh
    "... .......... .......    .......... ..." 2vh
    "... .......... image      .......... ..." 40vh
    "... .......... .......... .......... ..." 1vh
    "... votingForm votingForm votingForm ..." auto
    "... .......... .......... .......... ..." 1vh
    /40vh auto 60vh auto 40vh;
  height: 100%;
  position: fixed;
  width: 100%;
}

#learnVoting .votingForm {
  display: grid;
  grid-area: votingForm;
  grid-template:
    "selections       selections       selections      " 42vh
    "attentionMessage attentionMessage attentionMessage" 2vh
    "................ inputSubmit      ................" 6vh
    / auto 50% auto;
}

#learnVoting .selections {
  grid-area: selections;
}

#learnVoting .selection {
  display: grid;
  grid-template:
    "myChoice ... player" 100%
    /5% 2% 93%;
  height: 8vh;
  margin: 0.3vh 0;
  position: relative;
}

#learnVoting label {
  display: grid;
  grid-area: player;
  grid-template:
    "icon otherDescription" 80%
    "name otherDescription" 20%
    /10% 90%;
}

#learnVoting input[type="radio"] {
  display: block;
  grid-area: myChoice;
  height: 3vh;
  left: 100%;
  position: absolute;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 3vh;
}

#learnVoting .title {
  font-size: 6vh;
}

#learnVoting .icon {
  height: 6vh;
  width: 6vh;
}

#learnVoting .name {
  font-size: 2vh;
}

#learnVoting .textBox {
  border: solid 0.3vh #4f84d3;
}

#learnVoting .otherDescription p {
  font-size: 3vh;
}

#learnVoting .attentionMessage {
  font-size: 2vh;
}

#learnVoting input[type="submit"] {
  font-size: 3vh;
}
