body {
  margin: 0;
}

#learnVoting {
  display: grid;
  grid-template:
    "... .......... .......... .......... ..." 3vh
    "... title      title      title      ..." 10vh
    "... .......... .......    .......... ..." 2vh
    "... .......... image      .......... ..." 40vh
    "... .......... .......... .......... ..." 5vh
    "... votingForm votingForm votingForm ..." auto
    "... .......... .......... .......... ..." 2vh
    /20vh auto 60vh auto 20vh;
  height: 100%;
  position: fixed;
  width: 100%;
}

.votingForm {
  display: grid;
  grid-area: votingForm;
  grid-template:
    "selections       selections       selections      " 20vh
    "................ ................ ................" 2vh
    "attentionMessage attentionMessage attentionMessage" 4vh
    "................ ................ ................" 2vh
    "................ inputSubmit      ................" 10vh
    / auto 50% auto;
}

.selections {
  border: solid 0.5vh black;
  grid-area: selections;
  overflow-y: scroll;
}

.selection {
  display: grid;
  grid-template:
    "myChoice ... player" 100%
    /5% 2% 93%;
  height: 20vh;
  margin: 5vh;
  position: relative;
}

input[type="radio"] {
  display: block;
  grid-area: myChoice;
  height: 5vh;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5vh;
}

label {
  grid-area: player;
}
