#login {
  display: grid;
  grid-template:
    "... ........................ ..." 20vh
    "... logo                     ..." 5vh
    "... ........................ ..." 3vh
    "... loginForm                ..." auto
    "... ........................ ..." 3vh
    "... attentionMessageUserName ..." 3vh
    "... ........................ ..." 3vh
    "... attentionMessagePassword ..." 3vh
    "... ........................ ..." 20vh
    /20vh 40vh 20vh;
  justify-content: center;
  text-align: center;
}

.logo {
  font-size: 5vh;
  font-weight: bold;
  grid-area: logo;
}

#loginForm {
  display: grid;
  grid-area: loginForm;
  grid-template:
    "userName      " 8vh
    ".............." 3vh
    "password      " 8vh
    ".............." 3vh
    "loginButton   " 8vh
    ".............." 3vh
    "registerButton" 8vh
    / auto;
  justify-content: center;
}

#inputUserName {
  background-color: #fff;
  border-color: #000;
  border-radius: 100vh;
  font-size: 3vh;
  grid-area: userName;
}

#inputPassword {
  background-color: #fff;
  border-color: #000;
  border-radius: 100vh;
  font-size: 3vh;
  grid-area: password;
}

#loginButton {
  background-color: #ff6347;
  border-radius: 100vh;
  color: #fff;
  font-size: 3vh;
  font-weight: bold;
  grid-area: loginButton;
  margin: 0 auto;
  width: 20vh;
}

#registerButton {
  background-color: #fff;
  color: #000;
  font-size: 3vh;
  font-weight: bold;
  grid-area: registerButton;
  margin: 0 auto;
  width: 20vh;
}

.attentionMessageUserName {
  color: #ffa500;
  font-size: 2vh;
  grid-area: attentionMessageUserName;
}

.attentionMessagePassword {
  color: #ffa500;
  font-size: 2vh;
  grid-area: attentionMessagePassword;
}
