#selection {
  display: grid;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  grid-template:
    "... ............. ..............  ............ ............. ............ ..." auto
    "... ............. .............. ............. ............. logoutButton ..." 10vh
    "... textMakeRoom  textMakeRoom   ............. ............. ............ ..." 10vh
    "... ............. learnButton    ............. quizButton    ............ ..." 10vh
    "... ............. .............. ............. ............. ............ ..." 10vh
    "... textJoinRoom  textJoinRoom   ............. ............. ............ ..." 10vh
    "... ............. roomId         roomId        joinButton    ............ ..." 10vh
    "... ............. errorMessage   errorMessage  ............. ............ ..." 5vh
    "... ............. .............  ............. ............. ............ ..." 20vh
    "... libraryButton libraryButton  libraryButton libraryButton ............ ..." 10vh
    "... ............. .............  ............. ............. ............ ..." auto
    / auto 10vh 50vh 30vh 50vh 15vh auto;
}

#logoutButton {
  background-color: #fff;
  color: #000;
  font-size: 3vh;
  font-weight: bold;
  grid-area: logoutButton;
  width: 30vh;
}

#textMakeRoom {
  font-size: 5vh;
  font-weight: bold;
  grid-area: textMakeRoom;
}

#textJoinRoom {
  font-size: 5vh;
  font-weight: bold;
  grid-area: textJoinRoom;
}

button {
  background-color: #ff6347;
  border: none;
  color: #fff;
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
}

#learnButton {
  grid-area: learnButton;
}

#quizButton {
  grid-area: quizButton;
}

#roomId {
  font-size: 4vh;
  grid-area: roomId;
}

#joinButton {
  grid-area: joinButton;
}

#errorMessage {
  color: #f00;
  font-size: 3vh;
  grid-area: errorMessage;
}

#libraryButton {
  grid-area: libraryButton;
  margin: 0 auto;
  width: 60vh;
}
