.player {
  display: grid;
  grid-template:
    "icon ... ballon" 60%
    "name ... ballon" 10%
    ".... ... ......" 30%
    /15% 5% 80%;
  height: 30vh;
}

.balloon {
  border: solid 0.5vh black;
  border-radius: 2vh;
  box-sizing: border-box;
  display: inline-block;
  font-size: 4vh;
  grid-area: ballon;
  position: relative;
}

.balloon::before {
  border: 3vh solid transparent;
  border-right: 4.5vh solid white;
  content: "";
  left: -6.5vh;
  margin-top: -3vh;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.balloon::after {
  border: 3vh solid transparent;
  border-right: 4.5vh solid black;
  content: "";
  left: -7.5vh;
  margin-top: -3vh;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.balloon p {
  position: absolute;
  top: 20%;
}
