#quizAnswer {
  grid-template:
    "... ................ ..." 3vh
    "... title            ..." 10vh
    "... ................ ..." 2vh
    "... otherDescription ..." 20vh
    "... ................ ..." 1vh
    "... attentionMessage ..." 4vh
    "... ................ ..." 1vh
    "... answerForm       ..." 90vh
    / auto 135vh auto;
}

#quizAnswer #answerForm {
  display: grid;
  grid-area: answerForm;
  grid-template:
    "myChoice1 image1 myChoice2 image2" 43%
    "......... ...... ......... ......" 6%
    "myChoice3 image3 myChoice4 image4" 43%
    "......... ...... ......... ......" 6%
    /7% 43% 7% 43%;
}

#quizAnswer input[type="radio"] {
  height: 5vh;
  position: relative;
  width: 5vh;
}

#quizAnswer #myChoice1 {
  grid-area: myChoice1;
}

#quizAnswer #image1 {
  grid-area: image1;
  position: relative;
}

#quizAnswer #myChoice2 {
  grid-area: myChoice2;
}

#quizAnswer #image2 {
  grid-area: image2;
  position: relative;
}

#quizAnswer #myChoice3 {
  grid-area: myChoice3;
}

#quizAnswer #image3 {
  grid-area: image3;
  position: relative;
}

#quizAnswer #myChoice4 {
  grid-area: myChoice4;
}

#quizAnswer #image4 {
  grid-area: image4;
  position: relative;
}

#quizAnswer .mark {
  height: 80%;
  left: 50%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
