#quizAward {
  grid-template:
    "... ......... ........... .......... ..." 3vh
    "... title      title      title      ..." 10vh
    "... .........  .......... .......... ..." 5vh
    "... image      .......... winner     ..." 40vh
    "... .......... .......... .......... ..." 12vh
    "... buttonForm buttonForm buttonForm ..." 15vh
    "... .......... .......... .......... ..." 3vh
    / 15vh 60vh 4vh auto 15vh;
  position: fixed;
}

#quizAward .winner {
  display: grid;
  grid-area: winner;
  grid-template:
    "icon             ................ ngWord          " 38%
    "name             ................ ngWord          " 10%
    "................ ................ ................" 5%
    "otherDescription otherDescription otherDescription" auto
    / 20vh 5vh auto;
}

#quizAward .icon {
  height: 15vh;
  width: 15vh;
}

#quizAward .name {
  font-size: 4vh;
}

#quizAward .buttonForm {
  display: flex;
}

#quizAward .leave {
  margin-left: 20vh;
}

#quizAward input[type="submit"].leave {
  background-color: #4f64d3;
}
