#award {
  grid-template:
    "... ......... ........... .......... ..." 3vh
    "... title      title      title      ..." 10vh
    "... .........  .......... .......... ..." 5vh
    "... image      .......... player     ..." 48vh
    "... .......... .......... .......... ..." 15vh
    "... buttonForm buttonForm buttonForm ..." 15vh
    "... .......... .......... .......... ..." 3vh
    / auto 72vh 4vh 96vh auto;
  position: fixed;
}

.player {
  display: grid;
  grid-area: player;
  grid-template:
    "icon             ................ ngWord          " 33%
    "name             ................ ngWord          " 12%
    "................ ................ ................" 10%
    "otherDescription otherDescription otherDescription" 45%
    /25% 5% 70%;
}

.icon {
  height: 15vh;
  width: 15vh;
}

.buttonForm {
  display: flex;
}

.leave {
  margin-left: 20vh;
}

input[type="submit"].leave {
  background-color: #4f64d3;
}
