#quizDescription {
  grid-template:
    "... ............... ............... ................ ..." 3vh
    "... title           title           title            ..." 10vh
    "... ............... ............... ................ ..." 2vh
    "... image           ............... otherDescription ..." 32vh
    "... image           ............... ................ ..." 4vh
    "... image           ............... ngWord           ..." 20vh
    "... ............... ............... ................ ..." 1vh
    "... descriptionForm descriptionForm descriptionForm  ..." auto
    "... ............... ............... ................ ..." 3vh
    /20vh 84vh 4vh auto 20vh;
  position: fixed;
}

#quizDescription #descriptionForm {
  display: grid;
  grid-area: descriptionForm;
  grid-template:
    "attentionMessage" 20%
    "................" 1vh
    "inputText       " auto
    / 100%;
}

#quizDescription input[type="text"] {
  border: solid 0.5vh black;
  font-size: 6vh;
  font-weight: normal;
  grid-area: inputText;
  line-height: 8vh;
}
