body {
  margin: 0;
}

#description,
#answer,
#result,
#voting,
#award {
  display: grid;
  height: 100%;
  width: 100%;
}

.textBox {
  border: solid 0.5vh black;
  box-sizing: border-box;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  font-size: 4vh;
  padding: 2vh;
}

p {
  font-size: 5vh;
  margin: 2vh 0 0 4vh;
}

input[type="radio"] {
  display: block;
  height: 5vh;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5vh;
}

input[type="submit"] {
  align-items: center;
  background-color: #ff6347;
  border: none;
  color: white;
  display: flex;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  font-size: 6vh;
  grid-area: inputSubmit;
  height: 100%;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.buttonForm {
  grid-area: buttonForm;
}
