#voting {
  grid-template:
    "... .......... ..." 3vh
    "... title      ..." 10vh
    "... .......... ..." 3vh
    "... votingForm ..." auto
    "... .......... ..." 3vh
    /15vh auto 15vh;
  position: fixed;
}

#votingForm {
  display: grid;
  grid-area: votingForm;
  grid-template:
    "descriptionTable descriptionTable descriptionTable" 62vh
    "................ ................ ................" 2vh
    "attentionMessage attentionMessage attentionMessage" 4vh
    "................ ................ ................" 2vh
    "................ inputSubmit      ................" 10vh
    / auto 50% auto;
}

#descriptionTable {
  border: solid 0.5vh black;
  grid-area: descriptionTable;
  overflow-y: scroll;
}

.descriptionRow {
  display: grid;
  grid-template:
    "myChoice ... description" 100%
    /5% 2% 93%;
  height: 25vh;
  margin: 4vh;
  position: relative;
}

#myChoice1,
#myChoice2,
#myChoice3,
#myChoice4 {
  grid-area: myChoice;
}

#description1,
#description2,
#description3,
#description4 {
  display: grid;
  grid-area: description;
  grid-template:
    "icon ... image ... otherDescription" 80%
    "name ... image ... otherDescription" 20%
    /20vh 3vh 37.5vh 3vh auto;
}

.icon {
  height: 18vh;
  width: 18vh;
}

.name {
  font-size: 5vh;
}

.image {
  grid-area: image;
}
