.textBox {
  box-sizing: border-box;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  font-size: 3.5vh;
  font-weight: bold;
  overflow-y: scroll;
  padding: 1vh 2vh;
}

.textBox p {
  font-size: 5vh;
  font-weight: normal;
  margin: 2vh 0 0 4vh;
}
